<html>
<body>
<h1> Generador de cupones</h1>
<div class = "contenido">
<form #cuponForm="ngForm">
    <div class = "config-dropdown">
    <mat-form-field appearance="fill" [style.width.px]=327>
      <mat-label for="config">Elige un algoritmo:</mat-label>
        <mat-select name="config" id="config"  [(ngModel)]="selectedConfig" required>
          <ng-container *ngFor="let elementos of data | async">
            <mat-option [value]="elementos" >{{elementos}}</mat-option>
          </ng-container>
        </mat-select>
  </mat-form-field>
  </div>

  <div class = "textfield-number">
        <mat-form-field class="example-full-width" appearance="fill" [style.width.px]=327>
          <mat-label>Número de cupones a generar</mat-label>
          <input matInput type="number" name = "numero" [(ngModel)]="inputNumero" required>
        </mat-form-field>
  </div>

  <div class = "button-submit" >
    <button mat-raised-button color="primary" (click)="enviarDatos()" [disabled]="cuponForm.invalid">Generar</button>
  </div>
  
</form>
</div>

<div class = "lista">
  <ul>
    <li *ngFor="let elementos of listaCupones">
      {{elementos}}
    </li>
  </ul>
</div>
</body>
</html>


